---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";
import phoneCam from '../../assets/svg/adhoc/camphone.svg'
import phoneVideo from '../../assets/svg/adhoc/videophone.svg'
import drone from '../../assets/svg/adhoc/drone.svg'
import proCam from '../../assets/svg/adhoc/procam.svg'

const cards = [
  {
    index: 1,
    titleTop: "Fotograf铆a y Edici贸n",
    titleBottom: "M贸vil こ",
    img: phoneCam,
    alt: "Taller foto m贸vil",
    link: "#accordion__item1"
  },
  {
    index: 2,
    titleTop: "Video y Edici贸n",
    titleBottom: "M贸vil こ",
    img: phoneVideo,
    alt: "Taller video m贸vil",
    link: "#accordion__item2"
  },
  {
    index: 3,
    titleTop: "Fotograf铆a y Edici贸n",
    titleBottom: "Equipo Profesional ",
    img: proCam,
    alt: "Taller foto pro",
    link: "#accordion__item3"
  },
  {
    index: 1,
    titleTop: "Fotograf铆a y Video",
    titleBottom: "Drones ",
    img: drone,
    alt: "Taller Drones",
    link: "#accordion__item4"
  }
];

const description =
  "Ofrecemos una variedad de talleres enfocados al aprendizaje de la t茅cnica y conceptualization de la fotograf铆a inmobiliaria";
---

<Section id="talleres">
  <div class="mt-20 mb-5">
    <SectionTitle sectionTitle="Talleres" description={description} />
    <div class="grid lg:grid-cols-2 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
