---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Detrás de cada proyecto hay un equipo lleno de ambiciones. Conoce al nuestro!";

import tony from "../../assets/pics/team/tony.png";

const team = [
  {
    pic: tony,
    name: "Gabriel Jorquera",
    role: "CEO",
    description:
      "LLENAME ESTO",
  },
];
---

<Section id="equipo">
  <div class="mt-[100px]">
    <SectionTitle sectionTitle="Equipo" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
          />
        ))
      }
    </div>
  </div>
</Section>
