---
import { Image , Picture } from "astro:assets";
import Brand from "../../assets/svg/gj.svg";
import instagram from '../../assets/svg/instagram.svg'
import wsp from '../../assets/svg/wsp.svg'
import ShortForm from "../ui/ShortForm.astro";

const logos = [
  { name: "WhatsApp", src: wsp, link: "https://api.whatsapp.com/send?phone=569566767278&text=Hola,%20necesito%20más%20información%20sobre%20los%20talleres%20de%20fotografía%20inmobiliaria" },
  { name: "Instagram", src: instagram, link: "https://www.instagram.com/gj.fotografiainmobiliaria/" },
];

const links = [
  { name: "Home", href: "#home" },
  { name: "Talleres", href: "#talleres" },
  { name: "Equipo", href: "#equipo" },
  { name: "Testimonios", href: "#testimonials" },
];
---

<section class="sm:px-5">
  <div class="w-full max-w-[1240px] mx-auto">
    <div
      class="px-[15px] bg-dark text-white py-[55px] lg:px-[60px] sm:rounded-t-[45px]"
    >
      <div>
        <div
          class="flex flex-col lg:flex-row gap-7 items-center justify-between"
        >
          <picture>
            <a href="#home">
              <Picture src={Brand} alt={'GJ logo'} class:list={['invert','max-w-14','inline-block', 'align-baseline']}/> Workshop
              <hr>
              Fotografía Inmobiliaria
            </a>
          </picture>
          <ul class="flex flex-col sm:flex-row gap-5">
            {
              links.map((link) => {
                return (
                  <li class="text-center">
                    <a class="underline" href={link.href}>
                      {link.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <ul class="flex gap-5 *:max-w-10 invert">
            {
              logos.map((logo) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} />
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <div class="flex flex-col lg:flex-row mt-[66px] mb-[51px]">
          <div
            class="flex text-center lg:text-start flex-col w-full lg:w-[30%]"
          >
            <h3 class="mb-5">Contáctanos:</h3>
            <div class="flex flex-col justify-between gap-4">
              <span> Email: <a href="mailto:gjfotografia7@gmail.com">gjfotografia7@gmail.com</a></span>
              <span> Teléfono: <a href="tel:+56956676727"> +56 9 5667 6727</a></span>
            </div>
          </div>
          <div class="flex-grow my-10 lg:my-0 lg:ml-12 text-center lg:text-start">
            <h3 class="mb-5">Sesiones en:</h3>
            <span><a href="https://www.gjfotografiainmobiliaria.cl/">gjfotografiainmobiliaria.cl</a></span>
          </div>
        </div>
      </div>

      <div class="h-[1px] bg-white mb-5"></div>
      <div
        class="flex flex-col lg:flex-row h-20 justify-center mt-4 text-center md:justify-between md:mt-0"
      >
        <span
          >2024 GJ Workshop - Hecho con <a
            class="underline"
            target="_blank"
            href="https://astro.build/">Astro</a
          ></span
        >&nbsp
          <span>
            Desarrollado por:
            <a
            href="https://heroprotagonist.is-a.dev/"
            target="_blank"
            class="underline">Hero Protagonist</a
          >
          </span>
      </div>
    </div>
  </div>
</section>
